@import url( 'http://fonts.googleapis.com/earlyaccess/notosansjp.css' );

@font-face {
  font-family: 'Yu Gothic';
  src: local( 'Yu Gothic Medium' );
  font-weight: normal;
}
@font-face {
  font-family: 'Yu Gothic';
  src: local( 'Yu Gothic Bold' );
  font-weight: bold;
}

$base_font: Hind, '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'Noto Sans JP', 'Open Sans', 'Noto Sans', Lato, 'Slabo 13px', sans-serif;
$pc_super_wide_min_width: 1400px;
$pc_wide_min_width: 1250px;
$pc_min_width: 1000px;
$pc_sp_max_width: 999px;
$sp_max_width: 768px;
$color: #fff;
$default_font_color: #383539;
$header_height: 46px;
$nav-height: 46px;

div, ul {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: $base_font;
  color: $default_font_color;
  background: #f5f5f5;
  overflow-x: hidden;
}

////////////
// header //
////////////
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header_height;
  margin: 0;
  padding: 0;
  background: #0C090D;
  z-index: 10;
  color: $default_font_color;

  @media screen and ( max-width: $sp_max_width ) {

  }

  a {
    display: block;
    float: left;
    margin-left: 16px;
    margin-top: 10px;

    img {
      width: 26px;
      height: 26px;
    }
  }

  #sns-icon-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    height: $header_height;
    margin-right: 16px;

    a {
      display: block;
      float: right;

      .twitter-icon, .facebook-icon {
        width: 20px;
        height: 20px;
      }

      .instagram-icon {
        width: 22px;
        height: 22px;
      }
    }
  }
}

////////////
// footer //
////////////
footer {
  padding-bottom: 8px;
  font-family: $base_font;
  color: #fff;
  text-align: center;
  background: #53B3CB;

  #page-top {
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: #8ecddd;

    img {
      width: 20px;
      height: auto;
      margin: 0;
      margin-top: 6px;
      padding: 0;
    }

    span {
      display: block;
      width: 100px;
      height: auto;
      margin: 0 auto;
      margin-top: -8px;
      padding: 0;
    }
  }

  address {
    margin-top: 14px;
    font-style: normal;

    .mail-address {
      width: 220px;
      margin: 0 auto;
      margin-top: 4px;
      font-family: Hind;
      font-weight: 200;
      text-align: center;
      //border: 1px solid;

      a {
        &:link {
          color: #fff;
        }
      }
    }
  }

  .copyright {
    margin-top: 20px;
    font-size: 0.8em;
    color: #fff;
  }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

////////////////////
// navigation bar //
////////////////////
nav {
  position: fixed;
  top: $header_height;
  left: 0;
  width: 100%;
  height: $nav-height;
  margin: 0;
  padding: 0;
  //background: #0C090D;
  background: #f7f7f7;
  overflow: hidden;
  font-family: $base_font;
  font-weight: 300;
  //border-bottom: 1px solid #ddd;
  z-index: 10;

  @media screen and ( max-width: $sp_max_width ) {

  }

  #nav-mask {
    position: relative;
    width: 100%;
    height: 60px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    #menu-under-bar {
      position: fixed;
      width: 75px;
      height: 3px;
      top: calc( #{$header_height} + #{$nav-height} - 3px );
      left: 0;
      background: #000;
      transition: all .3s ease;

      @media screen and ( max-width: $sp_max_width ) {
        display: none;
      }
    }

    #arrow-left {
      position: fixed;
      display: none;
      top: calc( #{$header_height} + 7px );
      left: -4px;
      width: 40px;
      height: 32px;
      pointer-events: auto;
      cursor: pointer;
      background: #f7f7f7;
      border-right: 1px solid #000;

      &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-top: 12px;
        margin-left: 17px;
        border: solid #000;
        border-width: 0 0 1px 1px;
        transform: rotate( 45deg );
      }
    }

    #arrow-right {
      position: fixed;
      top: calc( #{$header_height} + 7px );
      right: -4px;
      width: 40px;
      height: 32px;
      pointer-events: auto;
      cursor: pointer;
      background: #f7f7f7;
      border-left: 1px solid #000;

      &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-top: 12px;
        margin-left: 12px;
        border: solid #000;
        border-width: 1px 1px 0 0;
        transform: rotate( 45deg );
      }
    }

    .nav-inner {
      display: inline-table;
      max-width: 100%;
      margin: 0 auto;
      padding: 0;
      list-style-type: none;

      @media screen and ( max-width: $sp_max_width ) {

      }

      li {
        display: table-cell;

        a {
          display: block;
          padding: 0 1em;
          text-decoration: none;
          height: $nav-height;
          line-height: 3;
          color: #000;
          font-weight: 500;
          font-size: 1.0em;
        }

        .current {
          background: #f9f9f9;
        }
      }
    }
  }
}

//codepen用 reset
*{box-sizing: border-box;}body{font-family:sans-serif;padding-top: 100px;width:100vw;background-color:#fff;}

////////////////
// breadcrumb //
////////////////
.breadcrumbs {
  display: inline-block;
  padding: 16px 0px 10px 16px;
  font-family: $base_font;
  font-size: 0.8em;
  color: $default_font_color;
  //border: 1px solid;

  @media screen and ( max-width: $sp_max_width ) {
    font-size: 0.6em;
  }

  a {
    color: $default_font_color;
    text-decoration: none;

    &:link, &:hover, &:visited {
      color: $default_font_color;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    margin: 0 7px;
  }
}

///////////////
// container //
///////////////
#container {
  margin: 0 auto;
  padding: 0;
  font-family: $base_font;
  color: $default_font_color;
  //background-color: #f7f7f7;

  #contents {
    width: 100%;
    margin: 0 auto;
    margin-top: -8px;
    padding-bottom: 10px;

    .swiper-container {
      width: 100%;
      height: 500px;
      margin: 0;
      padding: 0;
      margin-bottom: 0px;

      .swiper-wrapper {
        width: 100%;
        margin: 0;
        padding: 0;

        .swiper-slide {
          margin: 0;
          padding: 0;

          span {
            display: inline-block;
            width: 100%;
            height: 500px;
            background-color: #ccc;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            vertical-align: bottom;
          }
        }
      }
    }

    #wrapper {
      width: 980px;
      margin: 0 auto;
      margin-top: 10px;
      padding: 0;

      @media screen and ( min-width: $pc_super_wide_min_width ) {
        //width: 1300px;
      }

      @media screen and ( min-width: $pc_wide_min_width ) {
        width: 1100px;
      }

      @media screen and ( max-width: $pc_sp_max_width ) {
        width: 760px;
      }

      @media screen and ( max-width: $sp_max_width ) {
        width: 100%;
      }
      
      .category-headline, 
      .tag-headline {
        display: table;
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 8px 24px 7px 24px;
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
        //background: #fff;
      }

      .category-headline {
        //color: #53B3CB;
        color: #fff;
        background: #53B3CB;
        border: 1px solid #53B3CB;

        a {
          color: #fff;
        }
      }

      .tag-headline {
        color: #383539;
        border: 1px solid #383539;

        a {
          color: #383539;
        }
      }

      .headline {
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 30px;
        border-bottom: 3px solid;

        h2 {
          margin: 0;
          margin-bottom: 6px;
          padding: 0;
          font-weight: 500;

          span {
            margin-left: 10px;
            font-size: 0.6em;
            font-weight: 300;
          }
        }
      }

      #main {
        float: left;
        width: 660px;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        text-align: center;
        //background: #eee;
        //border: 1px solid;

        @media screen and ( min-width: $pc_super_wide_min_width ) {
          //width: 900px;
        }

        @media screen and ( min-width: $pc_wide_min_width ) {
          width: 780px;
        }

        @media screen and ( max-width: $pc_sp_max_width ) {
          width: 760px;
        }

        @media screen and ( max-width: $sp_max_width ) {
          float: none;
          width: 100%;
        }

        #pickup-article, 
        #latest-article, 
        #supporters {
          h2 {
            font-weight: 600;
          }
        }

        #pickup-article, 
        #latest-article {
          width: 675px; // #mainのwidth + .article-cardのmargin-rightの値
          margin: 0;
          padding: 0;
          margin-bottom: 30px;

          @media screen and ( min-width: $pc_super_wide_min_width ) {
            //width: 915px;
          }

          @media screen and ( min-width: $pc_wide_min_width ) {
            width: 795px;
          }

          @media screen and ( max-width: $pc_sp_max_width ) {
            width: 775px;
          }

          @media screen and ( max-width: $sp_max_width ) {
            width: 100%;
          }

          #pickup-article-inner, 
          #latest-article-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 0 auto;
            padding: 0;
            text-align: left;
            overflow: hidden;

            @media screen and ( max-width: $sp_max_width ) {
              justify-content: center;
              overflow: none;
            }
          }

          
        }

        .load-more {
          width: 270px;
          height: 44px;
          margin: 0 auto;
          margin-bottom: 60px;
          padding-top: 8px;
          font-weight: 500;
          font-size: 1.2em;
          text-align: center;
          background: #fff;
          cursor: pointer;
          border: 1px solid #000;
        }
        
        #supporters {
          //padding-bottom: 10px;

          .supporter-image-large, 
          .supporter-image-medium, 
          .supporter-image-small {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            margin-bottom: 30px;
            padding: 0;
          } 
          
          hr {
            width: 90%;
            margin-bottom: 14px;
          }

          .grade {
            display: inline-block;
            margin: 0 auto;
            margin-bottom: 30px;
            border-bottom: 2px solid;

            h3 {
              margin: 0;
              margin-bottom: 6px;
              padding: 0;
              font-size: 1.2em;
              font-weight: 500;
            }
          }

          // DIAMOND,PLATINUM,GOLD
          .supporter-image-large {
            img {
              width: 150px;
              height: 150px;
              margin: 0 5px;

              @media screen and ( max-width: $sp_max_width ) {
                width: 120px;
                height: 120px;
              }
            }
          }

          // SILVER,BRONZE
          .supporter-image-medium {
            img {
              width: 120px;
              height: 120px;
              margin: 0 5px;

              @media screen and ( max-width: $sp_max_width ) {
                width: 90px;
                height: 90px;
              }
            }
          }

          .supporter-image-small {  
            img {
              width: 90px;
              height: 90px;
              margin: 0 5px;

              @media screen and ( max-width: $sp_max_width ) {
                width: 60px;
                height: 60px;
              }
            }
          }
        }
      }
      
      #article-main {
        float: left;
        width: 660px;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        text-align: center;
        //overflow: hidden;

        @media screen and ( min-width: $pc_super_wide_min_width ) {
          //width: 900px;
        }

        @media screen and ( min-width: $pc_wide_min_width ) {
          width: 780px;
        }

        @media screen and ( max-width: $pc_sp_max_width ) {
          width: 760px;
        }

        @media screen and ( max-width: $sp_max_width ) {
          float: none;
          width: 100%;
          max-width: 100%;
          margin: 0 auto;
        }

        .top-thumbnail {
          width: 100%;
          height: auto;
          margin: 0;
          padding: 0;
          //border: 1px solid;

          img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 0;
          }
        }

        .title {
          width: 100%;
          height: auto;
          margin: 0;
          padding: 20px 10px 18px 10px;
          line-height: 1.3;
          background: #fff;
          //border: 1px solid;

          @media screen and ( max-width: $pc_sp_max_width ) {
            
          }

          @media screen and ( max-width: $sp_max_width ) {
            padding-left: 12px;
            padding-right: 12px;
          }

          h1 {
            margin: 0;
            padding: 0;

            @media screen and ( max-width: $sp_max_width ) {
              font-size: 1.5em;
            }
          }
        }

        .date {
          margin: 0;
          padding: 6px 0 6px 0;
          font-size: 0.8em;
          font-family: 'Noto Sans';
          color: #999;
          text-align: right;

          @media screen and ( max-width: $sp_max_width ) {
            padding-left: 12px;
            padding-right: 12px;
          }
        }

        .category-list {
          margin: 0;
          margin-bottom: 10px;
          text-align: left;

          @media screen and ( max-width: $sp_max_width ) {
            padding-left: 12px;
            padding-right: 12px;
          }

          .category {
            //float: left;
            display: inline-block;
            width: auto;
            //margin: 0 4px 8px 4px;
            padding: 6px 12px 5px 12px;
            text-align: center;
            font-size: 0.8em;
            color: #fff;
            font-weight: 300;
            letter-spacing: 1px;
            text-decoration: none;
            background: #53B3CB;
          }
        }

        .tags-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          margin: 0;
          margin-bottom: 10px;

          @media screen and ( max-width: $sp_max_width ) {
            padding-left: 12px;
            padding-right: 12px;
          }

          .tag {
            //float: left;
            display: inline-block;
            margin: 0 8px 8px 0;
            padding: 2px 6px 0 6px;
            text-align: center;
            font-size: 0.7em;
            color: #383539;
            text-decoration: none;
            border: 1px solid #383539;
          }
        }

        .share-button {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          padding: 14px 0 24px 0;
          overflow: hidden;

          @media screen and ( max-width: $sp_max_width ) {
            padding-left: 12px;
            padding-right: 12px;
            text-align: center;
          }

          .twitter-button {
            margin-right: 14px;

            @media screen and ( max-width: $sp_max_width ) {
              margin-right: 6px;
            }
          }

          .facebook-button {
          }

          .hatena-button {
            margin-left: -84px;

            @media screen and ( max-width: $sp_max_width ) {
              margin-left: -90px;
            }
          }

          .line-button {
            margin-left: -8px;

            @media screen and ( max-width: $sp_max_width ) {
              margin-left: -15px;
            }
          }
        }

        .article-text {
          //width: 100%;
          margin: 0;
          padding: 10px 40px 30px 40px;
          font-size: 0.95em;
          line-height: 2;
          text-align: left;
          background: #f7f7f7;

          @media screen and ( max-width: $sp_max_width ) {
            padding-left: 14px;
            padding-right: 14px;
          }

          img {
            width: 100%;
            height: auto;
            text-align: center;
          }

          a {
            &:link {
              color: #ED5578;
            }

            &:visited {
              color: #ED5578;
            }
          }

          .source-link {
            display: inline-block;
            width: 100%;
            margin: 0 auto;
            font-size: 0.9em;
            text-align: center;
          }

          blockquote {
            width: 100%;
            margin: 0 auto;
            padding: 0 20px 0 20px;
            background: #fff;
            border: 1px solid #ccc;
          }
        }
      }
      
      #side-bar {
        float: right;
        width: 300px;
        margin: 0 auto;
        padding: 14px 10px 4px 10px;
        text-align: center;
        background: #fff;
        //border: 1px solid;

        @media screen and ( max-width: $pc_sp_max_width ) {
          width: 760px;
        }

        @media screen and ( max-width: $sp_max_width ) {
          float: none;
          width: 100%;
        }

        .category-list {
          margin: 0 auto;
          margin-bottom: 30px;
          text-align: center;

          .category {
            //float: left;
            display: inline-block;
            width: 100%;
            margin: 0 4px 8px 4px;
            padding: 8px 10px 6px 10px;
            text-align: center;
            font-size: 0.9em;
            color: #fff;
            font-weight: 300;
            letter-spacing: 1px;
            text-decoration: none;
            background: #53B3CB;
            //border: 1px solid #53B3CB;
            @media screen and ( max-width: $sp_max_width ) {
              margin-left: 0;
              margin-right: 0;
            }
          }
        }

        .tags-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin: 0 auto;
          margin-bottom: 30px;

          .tag {
            //float: left;
            display: inline-block;
            margin: 0 4px 8px 4px;
            padding: 2px 6px 0 6px;
            text-align: center;
            font-size: 0.7em;
            color: #383539;
            text-decoration: none;
            border: 1px solid #383539;
          }
        }
      }
    }
  }
}

// 記事サムネのカードデザイン出力
.article-card {
  width: 210px;
  height: auto;
  margin: 0 15px 16px 0; // このmargin-right + #mainのwidth = #latest-articleのwidth（#pickup-articleのwidth）
  padding: 0;
  color: $default_font_color;
  font-family: $base_font;
  background: #fff;
  //border: 1px solid #ddd;

  @media screen and ( min-width: $pc_super_wide_min_width ) {
  }

  @media screen and ( min-width: $pc_wide_min_width ) {
    width: 250px;
  }

  @media screen and ( max-width: $pc_sp_max_width ) {
    width: 244px;
    margin-right: 14px;
  }

  @media screen and ( max-width: $sp_max_width ) {
    width: 45%;
    margin: 0 6px 12px 6px; 
  }

  .card-eyecatch {
    margin: 0 auto;

    img {
      width: 210px;
      height: 140px;

      @media screen and ( min-width: $pc_super_wide_min_width ) {
      }

      @media screen and ( min-width: $pc_wide_min_width ) {
        width: 250px;
        height: calc( 250px / 1.5 );
      }

      @media screen and ( max-width: $pc_sp_max_width ) {
        width: 244px;
        height: calc( 244px / 1.5 );
      }

      @media screen and ( max-width: $sp_max_width ) {
        width: 100%;
        height: auto;
      }
    }

    &:hover {
      opacity: 0.8;
      transition: 0.8s;
    }
  }

  .card-text {
    width: 100%;
    margin: 0;
    padding: 0 8px 8px 8px;
    line-height: 20px;
    font-family: Hind;

    .card-text-top {
      .card-category{
        margin-bottom: 4px;

        .article-category {
          float: left;
          display: inline-block;
          padding: 2px 6px 0 6px;
          text-align: center;
          font-size: 0.65em;
          //color: #53B3CB;
          color: #fff;
          text-decoration: none;
          background: #53B3CB;
          border: 1px solid #53B3CB;
        }
      }

      .card-tags {
        margin-bottom: 4px;

        .article-tag {
          float: left;
          display: inline-block;
          margin-right: 4px;
          margin-bottom: 4px;
          padding: 2px 6px 0 6px;
          text-align: center;
          font-size: 0.65em;
          color: #383539;
          text-decoration: none;
          border: 1px solid #383539;
        }
      }

      .article-date {
        display: inline-block;
        padding: 2px 0 1px 0;
        font-size: 0.75em;
        font-family: 'Noto Sans';
        color: #999;
      }
    }

    h3 {
      margin: 8px 0 0 0;
      font-size: 0.85em;

      a {
        color: $default_font_color;

        &:link {
          text-decoration: none;
          color: $default_font_color;
        }
      }
    }
  }
}

// ページネーション
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 30px;

  .page-list {
    width: 120px;
    font-size: 0.8em;
    text-align: center;
    //border: 1px solid;
  }

  .page-prev, 
  .page-next {
    width: 70px;
    margin: 0 auto;
    text-align: center;
    font-size: 0.7em;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
    background: #53B3CB;

    a {
      display: block;
      width: 70px;
      height: 100%;
      padding: 5px 0 3px 0;
      color: #fff;
      text-decoration: none;

      &:hover {
        opacity: 0.6;
        transition: 0.5s;
      }
    }
  }
}

.clearfix {
  zoom: 1;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.5;
}