@import url( 'http://fonts.googleapis.com/earlyaccess/notosansjp.css' );

@font-face {
  font-family: 'Yu Gothic';
  src: local( 'Yu Gothic Medium' );
  font-weight: normal;
}
@font-face {
  font-family: 'Yu Gothic';
  src: local( 'Yu Gothic Bold' );
  font-weight: bold;
}

$base_font: Hind, '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'Noto Sans JP', 'Open Sans', 'Noto Sans', 'Slabo 13px', sans-serif;
$pc_super_wide_min_width: 1400px;
$pc_wide_min_width: 1250px;
$pc_min_width: 1000px;
$pc_sp_max_width: 999px;
$sp_max_width: 768px;
$color: #fff;
$header_height: 46px;
$nav-height: 46px;

.clearfix {
  zoom: 1;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

div, ul {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: $base_font;
  background: #fff;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header_height;
  margin: 0;
  padding: 0;
  background: #000;
  opacity: 0.8;
  z-index: 10;

  @media screen and ( max-width: $sp_max_width ) {

  }

  a {
    display: block;
    float: left;
    margin-left: 16px;
    margin-top: 10px;

    img {
      width: 26px;
      height: 26;
    }
  }

  #sns-icon-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    height: $header_height;
    margin-right: 16px;

    a {
      display: block;
      float: right;

      .twitter-icon, .facebook-icon {
        width: 20px;
        height: 20px;
      }

      .instagram-icon {
        width: 22px;
        height: 22px;
      }
    }
  }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

nav {
  position: fixed;
  top: $header_height;
  left: 0;
  width: 100%;
  height: $nav-height;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  font-family: Hind;
  font-weight: 300;
  border-bottom: 1px solid #ddd;
  z-index: 10;

  @media screen and ( max-width: $sp_max_width ) {

  }

  #nav-mask {
    position: relative;
    width: 100%;
    height: 60px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    #menu-under-bar {
      position: fixed;
      width: 75px;
      height: 3px;
      top: calc( #{$header_height} + #{$nav-height} - 4px );
      left: 0;
      background: #000;
      transition: all .3s ease;

      @media screen and ( max-width: $sp_max_width ) {
        display: none;
      }
    }

    #arrow-left {
      position: fixed;
      display: none;
      top: calc( #{$header_height} + 5px );
      left: 0;
      width: 40px;
      height: 36px;
      pointer-events: auto;
      cursor: pointer;
      background: #fff;
      border-right: 1px solid #ddd;

      &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-top: 12px;
        margin-left: 17px;
        border: solid #000;
        border-width: 0 0 1px 1px;
        transform: rotate( 45deg );
      }
    }

    #arrow-right {
      position: fixed;
      top: calc( #{$header_height} + 5px );
      right: 0;
      width: 40px;
      height: 36px;
      pointer-events: auto;
      cursor: pointer;
      background: #fff;
      border-left: 1px solid #ddd;

      &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-top: 12px;
        margin-left: 12px;
        border: solid #000;
        border-width: 1px 1px 0 0;
        transform: rotate( 45deg );
      }
    }

    .nav-inner {
      display: inline-table;
      max-width: 100%;
      margin: 0 auto;
      padding: 0;
      list-style-type: none;

      @media screen and ( max-width: $sp_max_width ) {

      }

      li {
        display: table-cell;

        a {
          display: block;
          padding: 0 1em;
          text-decoration: none;
          color: #333;
          height: $nav-height;
          line-height: 3;

          &:hover {
            //border-bottom: 2.2px solid black;
            //background-color: #f9f9f9;
          }

        }

        .current {
          background: #f9f9f9;
        }
      }
    }
  }
}

//codepen用 reset
*{box-sizing: border-box;}body{font-family:sans-serif;padding-top: 100px;width:100vw;background-color:#fff;}

#container {
  margin: 0 auto;
  padding: 0;
  font-family: Hind, YuGothic;

  #contents {
    width: 980px;
    margin: 0 auto;
    margin-top: 4px;
    padding-bottom: 10px;
    background: #fff;
    border: 1px solid;

    @media screen and ( min-width: $pc_super_wide_min_width ) {
      width: 1300px;
    }

    @media screen and ( min-width: $pc_wide_min_width ) {
      width: 1100px;
    }

    @media screen and ( max-width: $pc_sp_max_width ) {
      width: 760px;
    }

    @media screen and ( max-width: $sp_max_width ) {
      width: 100%;
    }

    .swiper-container {
      width: 100%;
      height: 400px;
      margin: 0;
      padding: 0;
      margin-bottom: 10px;

      .swiper-wrapper {
        width: 100%;
        margin: 0;
        padding: 0;

        .swiper-slide {
          margin: 0;
          padding: 0;

          span {
            display: inline-block;
            width: 100%;
            height: 400px;
            background-color: #ccc;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            vertical-align: bottom;
          }
        }
      }
    }

    #main {
      float: left;
      width: 660px;
      margin: 0;
      padding: 0;
      border: 1px solid;

      @media screen and ( min-width: $pc_super_wide_min_width ) {
        width: 1000px;
      }

      @media screen and ( min-width: $pc_wide_min_width ) {
        width: 900px;
      }

      @media screen and ( max-width: $pc_sp_max_width ) {
        width: 760px;
      }

      @media screen and ( max-width: $sp_max_width ) {
        float: none;
        width: 100%;
      }

      #top-news {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        margin: 0;
        padding: 0;
      }
    }

    #side-bar {
      float: right;
      width: 300px;
      margin: 0 auto;
      padding-top: 4px;
      background: #fff;
      border: 1px solid;

      @media screen and ( max-width: $pc_sp_max_width ) {
        width: 760px;
      }

      @media screen and ( max-width: $sp_max_width ) {
        float: none;
        width: 100%;
      }
    }

  }


}

// 記事サムネのカードデザイン出力
.article-card {
  width: 210px;
  height: auto;
  //margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
  //border: 1px solid;

  .card-eyecatch {
    margin: 0 auto;

    img {
      width: 210px;
      height: 140px;
    }
  }

  .card-text {
    .category {

    }

    h3 {
      margin: 0;
    }
  }
}
