---
directory_index: false
title: 'ACCESS'
ogimage: 'ogp.jpg'
---

article#main
  #access
    .headline
      h1
        | ACCESS
    .access-map
      iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3324.0712767531113!2d130.258108615227!3d33.57749858073781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541eb9862b0764d%3A0x520a01e178c63aa9!2z44GV44GE44Go44G044GCIOilv-mDqOWcsOWfn-S6pOa1geOCu-ODs-OCv-ODvA!5e0!3m2!1sja!2sjp!4v1487061597587" frameborder="0" style="border:0" allowfullscreen
      br
      | 福岡県福岡市西区西都2-1-1　（ JR筑肥線「九大学研都市駅」徒歩1分）
    .subhead
      h2
        | 地下鉄をご利用の方
        span
          | FOR SUBWAY
    .for-subway
      .left-item
        | 空港線
      .right-item
        | ▷ 福岡空港駅 ---《25分》--- 姪浜 ---《9分》--- 九大学研都市駅
        br
        | ▷ 博多駅 ---《18分》--- 姪浜 ---《9分》--- 九大学研都市駅
        br
        | ▷ 天神駅 ---《13分》--- 姪浜 ---《9分》--- 九大学研都市駅
        br
        br
        | ※福岡空港駅、博多駅、天神駅ともに九大学研都市駅までの直通運転あり
      .clearfix
    .subhead
      h2
        | バスをご利用の方
        span
          | FOR BUS
    .for-bus
      .left-item
        | 昭和バス
      .right-item
        | 「九大学研都市駅バス停」下車
      .clearfix
    /.subhead
      h2
        | 車をご利用の方
        span
          | FOR CAR
    /.for-car
      .left-item
        | 高速道路
      .right-item
      .clearfix